<!--
File Name: list.ejs
Name: Shota Ito
Student #: 301103095
App Name: Book List
-->

<% include ../partials/header.ejs %>

  <!-- main section -->
  <main class="container">  
     <div class="row">
        <div class="col-md-offset-0 col-md-12">

         <h1 class="text-center">- <%= title %> -</h1>
         <a href="/books/add" class="btn btn-primary" role="button">
           <i class="fa fa-plus"></i> Add a Book </a> 
         <br>
         <table class="table table-bordered table-striped table-hover">
           <!-- header row-->
           <tr class="d-flex"> 
             <th class="text-center col-md-2">Title</th>
             <th class="text-center col-md-3">Description</th>
             <th class="text-center col-md-1">Price</th>
             <th class="text-center col-md-1">Author</th>
             <th class="text-center col-md-1">Genre</th>
             <th class="text-center col-md-1"></th>
             <th class="text-center col-md-1"></th>
           </tr>

           <!-- Repeatable Template row -->

           <% for(let count = 0; count< books.length; count++){ %>
              <tr class="d-flex">  
                <td class="text-center col-md-2"><%= books[count].title %></td>
                <td class="col-md-3"><%= books[count].description %></td>
                <td class="text-center col-md-1">$<%= books[count].price %></td>
                <td class="text-center col-md-1"><%= books[count].author %></td>
                <td class="text-center col-md-1"><%= books[count].genre %></td>
                <td class="text-center col-md-1">
                  <a href="/books/edit/<%= books[count]._id %>" class="btn btn-primary btn-sm">
                   <i class="fa fa-pencil"></i> Edit</a>
                </td>
                <td class="text-center col-1">
                  <a href="/books/delete/<%= books[count]._id %>" class="btn btn-danger btn-sm">
                   <i class="fa fa-trash"></i> Delete</a>
                </td>
               </tr>
          <% } %>
         </table>
         <br>
         <br>
         <br>
         <br>
       </div>
     </div>
     
  </main>

<% include ../partials/footer.ejs %>
